$red_light: var(--red-light);
$red: var(--red-main);
$gold: var(--gold-main);
$grey: hsl(0, 0%, 47%);

.container {
  height: 100vh;
  margin: 0 !important;

  .banner {
    pointer-events: none;
    opacity: 0.9;
    position: relative;
  }

  .form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: $gold;
      font-size: 45px;
      font-weight: lighter;
      margin-bottom: 20px;
    }

    form {
      width: 55%;
      text-align: center;
      display: flex;
      row-gap: 20px;
      flex-direction: column;
      color: $grey;

      .input_group {
        position: relative;

        input {
          border-radius: 18px;
          line-height: 45px;
          width: 100%;
          color: $grey;
          border: 1px solid hsl(0, 0%, 60%);
          outline: none;
          font-size: 16px;
          padding-left: 20%;
          transition: border 0.3s, width 0.3s 0.1s;
        }

        input:focus {
          border: 1px solid black;
        }

        small {
          display: block;
          font-size: 12px;
          text-align: left;
          padding-left: 30px;
          color: $red_light;
        }

        svg {
          position: absolute;
          top: 11px;
          left: 5%;
        }
      }
    }
    .error {
      svg {
        color: $red_light;
      }

      input::placeholder {
        color: $red_light;
      }

      input {
        border-color: $red_light !important;
      }
    }

    .api_error {
      display: block;
      color: $red_light;
    }

    button {
      background-color: $red;
      color: white;
      font-size: 16px;
      width: 100%;
      text-transform: uppercase;
      line-height: 47px;
      border-radius: 18px;
      letter-spacing: 1px;
      &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
      }
    }

    .provider {
      background-color: #e3e3e3;
      color: $gold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    a {
      color: $gold;
    }

    p {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 700px) {
  .form_container {
    form {
      width: 80% !important;
    }
  }
}
